@page "/finder"
@using Crolow.FastDico.Models.Models.Finder
@using Crolow.TopMachine.ComponentControls.Finder
@inherits WordFinderComponent
<RadzenLayout Style="height:100%;grid-template-columns: 1fr auto; grid-template-areas: 'rz-header rz-header' 'rz-body rz-sidebar'">
    <RadzenSidebar Style="width:400px" @bind-Expanded="@sidebar1Expanded">
        <div class="rz-p-4">
            Sidebar
        </div>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-1">
            <RadzenLayout Style="height:100%">
                <RadzenHeader style="padding:5px">
                    <RadzenFormField style="width:100%" Text="">
                        <RadzenTextBox @bind-Value="@SearchPattern" />
                    </RadzenFormField>
                    <RadzenStack Orientation="Orientation.Horizontal">
                        <RadzenMenu>
                            <RadzenMenuItem Click="@Search7plus1" Text="X+?"></RadzenMenuItem>
                            <RadzenMenuItem Click="@SearchSmaller" Text="<< X"></RadzenMenuItem>
                            <RadzenMenuItem Click="@SearchGreater" Text=">> X"></RadzenMenuItem>
                            <RadzenMenuItem Click="@SearchContaining" Text="< X >"></RadzenMenuItem>
                            <RadzenMenuItem Click="@SearchMoreOrLess" Text="± X"></RadzenMenuItem>
                            <RadzenMenuItem Click="@SearchWildcard" Text="?*?"></RadzenMenuItem>
                            <RadzenMenuItem Click="@SearchRegex" Text="{<*>}"></RadzenMenuItem>
                        </RadzenMenu>
                    </RadzenStack>
                </RadzenHeader>
                <RadzenBody style="margin-top:10px;padding:0px;">
                    <RadzenDataGrid style="overflow-y: auto; flex-grow: 1;display: flex; flex-wrap: wrap;" AllowFiltering="true" AllowSorting="true" AllowColumnResize="true"
                                    Data="@Results" TItem="FinderResult">
                        <EmptyTemplate>
                            <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">No results</p>
                        </EmptyTemplate>
                        <Columns>
                            <RadzenDataGridColumn Width="30px" Property="@nameof(FinderResult.Additional)" Title="+" />
                            <RadzenDataGridColumn TextAlign="TextAlign.Right" Width="90px" Property="@nameof(FinderResult.Prefix)" Title="<1" />
                            <RadzenDataGridColumn Property="@nameof(FinderResult.Word)" Title="Word">
                                <Template Context="result">
                                    @result.Word
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Width="90px" Property="@nameof(FinderResult.Suffix)" Title=">1" />
                        </Columns>
                    </RadzenDataGrid>
                </RadzenBody>
            </RadzenLayout>
        </div>
    </RadzenBody>
</RadzenLayout>

@code {
    bool sidebar1Expanded = true;

}