@page "/finder"
@using Crolow.FastDico.Common.Models.Finder
@using Crolow.TopMachine.ComponentControls.Finder
@inherits WordFinderComponent
<RadzenLayout Style="height:100%;grid-template-columns: 1fr auto; grid-template-areas: 'rz-header rz-header' 'rz-body rz-sidebar'">
    <RadzenSidebar Style="width:400px" @bind-Expanded="@sidebar1Expanded">
        <div class="rz-p-4">
            @if (definitions.Any())
            {
                foreach (var def in definitions)
                {
                    <Definition Word=def></Definition>
                }
            }
            else
            {
                <h2>Select a word from the finder to view a definition</h2>
            }

        </div>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-1">
            <RadzenLayout Style="height:100%">
                <RadzenHeader style="padding:5px">
                    <RadzenFormField style="width:100%" Text="">
                        <RadzenTextBox @bind-Value="@SearchPattern" />
                    </RadzenFormField>
                    <RadzenStack Orientation="Orientation.Horizontal">
                        <RadzenMenu>
                            <RadzenMenuItem Click="@Search7plus1" Text="X+?"></RadzenMenuItem>
                            <RadzenMenuItem Click="@SearchSmaller" Text="<< X"></RadzenMenuItem>
                            <RadzenMenuItem Click="@SearchGreater" Text=">> X"></RadzenMenuItem>
                            <RadzenMenuItem Click="@SearchContaining" Text="< X >"></RadzenMenuItem>
                            <RadzenMenuItem Click="@SearchMoreOrLess" Text="± X"></RadzenMenuItem>
                            <RadzenMenuItem Click="@SearchWildcard" Text="?*?"></RadzenMenuItem>
                            <RadzenMenuItem Click="@SearchRegex" Disabled="true" Text="{<*>}"></RadzenMenuItem>
                        </RadzenMenu>
                    </RadzenStack>
                </RadzenHeader>
                <RadzenBody style="margin-top:10px;padding:0px;">
                    <RadzenDataGrid AllowPaging="true" PageSize="20" PagerPosition="PagerPosition.TopAndBottom" style="overflow-y: auto; flex-grow: 1;display: flex; flex-wrap: wrap;" AllowFiltering="true" AllowSorting="true" AllowColumnResize="true"
                                    Data="@Results" TItem="FinderResult">
                        <EmptyTemplate>
                            @{
                                if (searchActive)
                                {
                                    <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">Searching ...</p>
                                }
                                else
                                {
                                    <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">No results</p>
                                }
                            }
                        </EmptyTemplate>
                        <Columns>
                            <RadzenDataGridColumn Width="50px" Property="@nameof(FinderResult.Additional)" Title="+" />
                            <RadzenDataGridColumn TextAlign="TextAlign.Right" Width="90px" Property="@nameof(FinderResult.Prefix)" Title="<1" />
                            <RadzenDataGridColumn TItem="FinderResult" Property="@nameof(FinderResult.Word)" Title="Word">
                                <Template Context="result">
                                    <a style="cursor: pointer; text-decoration: none; color: inherit;"
                                    @onclick:preventDefault onclick=@(() => OpenDictionary(result))>
                                        @result.Word
                                    </a>
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Width="90px" Property="@nameof(FinderResult.Suffix)" Title=">1" />
                            <RadzenDataGridColumn TItem="FinderResult" Width="35px" Title="" Filterable="false" Sortable="false">
                                <Template Context="data">
                                    <RadzenButton Click=@(() => OpenDictionary(data)) Icon="dictionary" ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.ExtraSmall" />
                                </Template>
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
                </RadzenBody>
            </RadzenLayout>
        </div>
    </RadzenBody>
</RadzenLayout>

@code {
    bool sidebar1Expanded = true;

}